name: Deploy

on:
  push:
    branches:
    - master


jobs:
  publish:
    name: npm-publish
    runs-on: Ubuntu-20.04
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: install node v18
      uses: actions/setup-node@v3
      with:
        node-version: 20
    - name: Checking for missing change logs...
      run: node common/scripts/install-run-rush.js change -v
    - name: Installing...
      run: node common/scripts/install-run-rush.js install
    - name: Building...
      run: node common/scripts/install-run-rush.js rebuild --verbose
    # - name: Testing...
    #   run: node common/scripts/install-run-rush.js test -t core
    - name: Config GIT
      run: >-
        git config --global user.email "bluemax7o1@gmail.com" &&
        git config --global user.name "Ahmed Ali"
    - name: Publishing...
      run: >-
        node common/scripts/install-run-rush.js publish
        --target-branch master
        --set-access-level public
        --npm-auth-token ${{ secrets.NPM_AUTH_TOKEN }}
        --apply --publish --add-commit-details
    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        base-path: ./system/core
        path-to-lcov: ./system/core/coverage/lcov.info